.slidercarouserContainer {
    @apply bg-bluesky-100 mm:py-0 sm:py-0 md:py-0;
    padding-top: 50px;
    padding-bottom: 50px;
}

.carouselChildContainer {
    @apply mm:w-screen sm:w-screen md:w-screen;
    width: 320px;
    height: 320px;
}

.thirdblockImages {
    @apply flex justify-around mm:flex-col 
    mm:items-center sm:flex-col sm:items-center sm:flex-wrap
     md:flex-wrap;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;

    .item {
        border-radius: 15px;
        width: 350px;
        height: 350px;
    }
}