.carouselContainer {
    @apply w-screen overflow-hidden relative;

    .maincarousel {
        @apply flex overflow-x-hidden relative mm:px-0 sm:px-0 md:px-0 mm:py-0 mm:gap-0 sm:py-0 sm:gap-0 md:py-0 md:gap-0;
        gap: 20px;
        padding-left: 120px;
        padding-right: 120px;
        padding-right: 135px;

        .carouselItemImage {
            @apply mm:w-screen sm:w-screen md:w-screen mm:rounded-none sm:rounded-none md:rounded-none;
            width: 320px;
            height: 320px;
            border-radius: 15px;
        }
    
    }
    .npbuttonContainer {
        @apply absolute top-0 left-0 w-full h-full flex items-center justify-between;
        padding-left: 1%;
        padding-right: 1%;

        .npbutton {
            @apply opacity-20 transition-all;
            --tw-scale-x: 0.7;
            --tw-scale-y: 0.7;
            transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));

            &:hover {
                @apply opacity-100 cursor-pointer;
            }
        }
    }
}
