.container {
    @apply w-screen bg-bluesky-100 relative;
    height: 95vh;

    .extendContainer {
        @apply absolute top-0 left-0 w-full h-full grid grid-cols-4 grid-rows-2;

        .second {
            @apply row-start-2;
        }
        .third {
            @apply col-start-4;
        }
        .fourth {
            @apply row-start-2 col-start-4;
        }
    }

    .contentContainer {
        @apply flex flex-col w-full h-full items-center justify-center;
        gap: 20px;

        .title {
            @apply text-center text-4xl;
            font-weight: 700;
            line-height: 150%;
        }
        .desc {
            @apply text-center text-2xl;
            font-weight: 500;
            z-index: 100;

            .link {
                @apply text-cherry-200 cursor-pointer;
                z-index: 100;
            }
        }

        .btnContainer {
            z-index: 100;
        }
    }
}