.carouselbanner1 {
    @apply w-screen whitespace-nowrap relative;
    height: 95vh;
    padding-left: 4%;
    padding-right: 4%;

    .bannerimage {
        @apply absolute top-0 left-0 w-full h-full object-cover bg-cover;
    }

    
    .textbanner {
        @apply bg-lightgreen-100 z-10 text-center flex flex-col justify-end relative;
        width: 40%;
        padding-left: 78px;
        padding-right: 78px;
        padding-top: 135px;
        padding-bottom: 5%;
        height: 80%;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        gap: 40px;
        .rocket {
            @apply absolute z-20;
            top: 35%;
            right: -10%;
        }
    }

    .headerbanner {
        @apply flex flex-col gap-2 mm:flex-row;
        font-size: 40px;
        font-weight: 700;
        line-height: 45px;
    }

    .subheaderbanner {
        @apply flex flex-wrap justify-center overflow-hidden whitespace-pre-wrap;
        font-size: 25px;
        font-weight: 400;
        line-height: 30px;
    }

    .sublink {
        @apply text-cherry-200 cursor-pointer sm:cursor-auto;
    }
}


@media (min-width: 310px) and (max-width: 640px) {
    .carouselbanner1 {  
        .textbanner {
            width: 100%;
            .headerbanner {
                @apply flex justify-center flex-wrap text-3xl;
            }
            .rocket {
                @apply hidden;
            }
        }
    }
}

@media (min-width: 640px) and (max-width: 767px) {
    .carouselbanner1 {  
        .textbanner {
            width: 100%;
            .headerbanner {
                @apply flex justify-center flex-wrap gap-3 text-3xl;
            }
            .rocket {
                @apply hidden;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .carouselbanner1 {  
        .textbanner {
            width: 80%;
            .headerbanner {
                @apply flex justify-center flex-wrap gap-3 text-3xl;
            }
            .rocket {
                @apply hidden;
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .carouselbanner1 {  
        .textbanner {
            width: 60%;
            .headerbanner {
                @apply flex justify-center flex-wrap gap-3 text-3xl;
            }
            .rocket {
                @apply hidden;
            }
        }
    }
}