.section {
    @apply w-full flex flex-col items-center justify-center bg-bluesky-100;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 80px;

    .title {
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
    }

    .sect_cards {
        @apply flex;
        gap: 120px;
    }

    // Adaptive Size [MM]
    @media (min-width: 310px) and (max-width: 640px) {     
        @apply mm:text-center mm:w-full;
        .sect_cards {
            @apply mm:flex mm:flex-col;
            gap: 60px;
        }
    }

    // Adaptive Size [SM]
    @media (min-width: 640px) and (max-width: 767px) {      
        @apply sm:text-center sm:w-full;
        .sect_cards {
            @apply sm:flex sm:flex-wrap sm:justify-center;
            gap: 60px;
        }
    }

    // Adaptive Size [MD]
    @media (min-width: 768px) and (max-width: 1023px) {     
        @apply md:text-center md:w-full;
        .sect_cards {
            @apply md:flex md:flex-wrap md:justify-center;
            gap: 60px;
        }
    }

    // Adaptive Size [LG]
    @media (min-width: 1024px) and (max-width: 1279px) {
        @apply lg:text-center lg:w-full;
        .sect_cards {
            @apply lg:flex lg:flex-wrap lg:justify-center;
            gap: 60px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    // Adaptive Size [XL]
    @media (min-width: 1280px) and (max-width: 1535px) {        
        @apply xl:text-center xl:w-full;
        .sect_cards {
            @apply xl:flex xl:flex-wrap xl:justify-center;
            gap: 90px;
        }
    }
}